# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
venv/
env/

# PyCharm
.idea/

# VSCode
.vscode/

# Docker
*.log
*.pid

# Database
*.db

# Media (если не нужно хранить в git)
media/

# OS
Thumbs.db
.DS_Store

# Модули и временные файлы
*.swp
*.bak
*.tmp

# Секреты
config.py

